@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
ul {
  @apply list-disc list-inside text-gray-700;
}

/* Timeline */
.vertical-timeline-element-date {
  position: absolute !important;
  font-weight: bold;
  color: white !important;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  top: 12px;
  width: 80px;
  font-size: 0.9rem;
  z-index: 10;
}

.vertical-timeline-element--left .vertical-timeline-element-date {
  left: -90px !important;
  right: auto !important;
  text-align: right;
}

.vertical-timeline-element--right .vertical-timeline-element-date {
  right: -90px !important;
  left: auto !important;
  text-align: left;
}
